body {
  font-family: var( --font-primary);
  color: #000;
}
/** Heading **/
h1, h2, h3,
h4, h5, h6 {
  color: #000;
  font-family: var(--font-alter);
  line-height: 1.1;
}
h1 {
  font-size: 3.75rem;
  font-weight: 100;
}
h2 {
  font-size: 3rem;
  font-weight: 200;
}
h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.2;
}
// List ul li
::marker {
  color: rgba($color: #000, $alpha: .75);
  font-size: .8em;
}
pre, code {
  font-family: var(--font-code);
}
/** Media **/
@media (max-width: 991px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 3rem;
    font-weight: 200;
  }
  h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  body {
    // font-size: 13px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
    font-weight: 300;
  }
}





.wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
/* Text & Label */
.text-code {
  font-family: var(--font-code);
}

/** Hr **/
.hr {
  &--circle {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: rgba($color: #000, $alpha: .25);
    &::before, &::after {
      content: '';
      position: absolute;
      top: -3px;
      display: block;
      width: 7px;
      height: 7px;
      background-color: #fff;
      border: 1px solid rgba($color: #000, $alpha: .5);
      border-radius: 50%;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  @media (max-width: 575px) {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    &::before, &::after {
    }
  }
}
[class*="br--"] {
  display: none;
}
.br {
  @media (max-width: 767px) {
    &--max-sm {
      display: block;
    }
  }
  @media (max-width: 575px) {
    &--max-xs {
      display: block;
    }
  }
}

/** Code Print **/
.codeprint {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  font-family: var(--font-code);
  font-size: 16px;
  line-height: 1.8;
  box-shadow: 0 1px 2px rgba($color: #000, $alpha: .1);

  @media (max-width: 991px) {
    font-size: 14px;
  }
}

/** Slider Preview **/
.slider-preview {
  margin-bottom: 30px;
}





/**
 * GRID CUSTOM
 */
.grid-custom {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
  &__item {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 80px;
  }

  /** Media */
  @media (min-width: 1200px) {
    &__item {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  @media (min-width: 1600px) {
    padding-left: 100px;
    padding-right: 100px;
    &__item {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  @media (max-width: 991px) {
    padding-left: 20px;
    padding-right: 20px;
    &__item {
      margin-bottom: 80px;
    }
  }
  @media (max-width: 767px) {
    &__item {
      width: 100%;
    }
  }
  @media (max-width: 575px) {
    &__item {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 50px;
    }
  }
}
