body {
  font-family: var( --font-primary);
  color: #000;
}
/** Heading **/
h1, h2, h3,
h4, h5, h6 {
  color: #000;
  font-family: var(--font-alter);
  line-height: 1.1;
}
h1 {
  font-size: 3.75rem;
  font-weight: 100;
}
h2 {
  font-size: 3rem;
  font-weight: 200;
}
h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.2;
}

::marker {
  color: rgba($color: #000, $alpha: .75);
  font-size: .8em;
}

.wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* Text & Label */
pre, code,
.text-code {
  font-family: "Source Code Pro", monospace, serif;
}

/** Hr **/
.hr {
  &--circle {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: rgba($color: #000, $alpha: .25);
    &::before, &::after {
      content: '';
      position: absolute;
      top: -4px;
      display: block;
      width: 7px;
      height: 7px;
      background-color: #fff;
      border: 1px solid rgba($color: #000, $alpha: .5);
      border-radius: 50%;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
}
[class*="br--"] {
  display: none;
}
.br {
  @media (max-width: 767px) {
    &--max-sm {
      display: block;
    }
  }
}

/** Code Print **/
.codeprint {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  font-family: var(--font-code);
  font-size: 16px;
  line-height: 1.8;
  box-shadow: 0 1px 2px rgba($color: #000, $alpha: .1)
}

/** Slider Preview **/
.slider-preview {
  margin-bottom: 30px;
}




/** Guide **/
.guide {
  padding-bottom: 60px;
  background-color: rgba($color: #000, $alpha: .05);
  .hr {
    margin-bottom: 60px;
  }
  h2 {
    margin-bottom: 20px;
  }
  p {
    a {
      font-weight: bold;
    }
  }
  li {
    margin-bottom: 5px;
  }
  .btn {
    margin-bottom: 20px;
  }
}