body {
  font-family: var( --font-primary);
  color: #000;
}
/** Heading **/
h1, h2, h3,
h4, h5, h6 {
  color: #000;
  font-family: var(--font-alter);
  line-height: 1.1;
}
h1 {
  font-size: 4em;
  font-weight: 100;
}
h2 {
  font-size: 3em;
  font-weight: 100;
}
h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.2;
}

.wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* Text & Label */
.text-code,
.label.code {
  font-family: "Source Code Pro", monospace, serif;
}