/** HEADER **/
.scrollfixed--body-actived {
  #page {
    margin-top: 90px;
  }
}


/** RUBYSLIDER **/
.rs01 {
  .rs01slide {
    border-radius: 12px;
  }
  @media (max-width: 991px) {
    .rs01slide {
      border-radius: 8px;
    }
    &pagitem {
      font-size: 14px;
    }
  }
}