#main {
  @media (max-width: 757px) {
    min-height: calc(100vh - 70px - 68px); // - #header - #footer
  }
}


/** HEADER **/
.scrollfixed--body-actived {
  #page {
    margin-top: 90px;
  }
}


/** RUBYSLIDER **/
.rs01 {
  .rs01slide {
    border-radius: 12px;
  }
  @media (max-width: 991px) {
    .rs01slide {
      border-radius: 8px;
    }
  }
}


/** Custom page **/
.page-docs {
  .scrollfixed {
    background-color: rgba($color: #000, $alpha: .9);
  }
  .footer {
    background-color: rgba($color: #000, $alpha: .03);
  }
}