/* ============================================================
 * Logo & Menu
 * ============================================================ */
.header {
  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/** LOGO **/
.logo {
  // overflow: hidden;
  // &::before {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 320px;
  //   height: 150px;
  //   background-color: rgba($color: #fff, $alpha: .85);
  //   transform: translate3d(-70px,-50px,0) rotate(-45deg);
  // }
  a {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    transition: all .2s;
    svg {
      display: block;
    }
    &:hover {
      color: rgba($color: #000, $alpha: .75);
    }
  }
}





/** SCROLL FIXED **/
.scrollfixed {
  position: relative;
  &__inner {
    // position: relative;
    // width: 100%;
    width: 100vw;
    background-color: var(--color-primary);
    z-index: 99;
  }

  /** FIXED ENABLE - ĐỦ ĐIỀU KIỆN ĐỂ SCROLL FIXED HOẠT ĐỘNG **/
  &--enabled {
    .scrollfixed__inner {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

 
  /** FIXED ACTIVED - KHI SCROLL FIXED KÍCH HOẠT **/
  &--actived {
    .scrollfixed__inner {
      position: fixed;
      // background-color: rgba($color: #c05, $alpha: .9);
      box-shadow: 0 1px 2px rgba($color: #000, $alpha: 0.2);
      animation: headerMoveDown .2s both;
      // -webkit-backdrop-filter: saturate(180%) blur(20px);
      // backdrop-filter: saturate(180%) blur(20px);
    }
    .header__inner {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .megamenu__board {
      top: calc(100% + 4px);
    }
  }
 
  // Dành cho PC
  // @include media-min-width(md) {
  //   &.fixed-actived {
  //     .rm01.rm01.rm01hanger .rm01list {
  //       a {
  //         padding-top: 17px;
  //         padding-bottom: 17px;
  //       }
  //     }
  //   }
  // }
  /** Media **/
  // @media (min-wid)

  // Dành cho SP
  // @include media(md) {
  //   &.fixed-actived {
  //     .header-logo {
  //       padding-top: 8px !important;
  //       padding-bottom: 8px !important;
  //     }
  //   }
  // }
  // @include media(sm) {
  //   &.fixed-actived {
  //     .rm01.rm01drawer .menu-inner {
  //       height: calc(100vh - 40px);
  //     }
  //   }
  // }
}





@keyframes headerMoveDown {
  0% {
    transform: translate3d(0,-100%,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}