.megamenu {
  z-index: 99;
  &__ghost {
    // display: none;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    // background-color: blue;
    &.megamenu--actived {
      visibility: visible;
    }
  }
  &--ul-lv1 {
    display: flex;
    align-items: center;
  }
  .megamenu--link-lv1 {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 6px;
    border: 1px solid transparent;
    color: #fff;
    line-height: 1.2;
    cursor: pointer;
    transition: background .15s;
    i {
      display: block;
      padding-right: 7px;
    }
    svg {
      display: block;
    }
    &:hover {
      background-color: rgba($color: #000, $alpha: .25);
    }
  }
  &__caret {
    position: relative;
    width: 8px;
    height: 8px;
    margin-left: 8px;
    transition: all .2s;
    &::before, &::after {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      width: 100%;
      height: 1px;
      background-color: #fff;
    }
    &::after {
      transform: rotate(90deg);
    }
  }
  &--li-lv1 {
    &.megamenu--open {
      .megamenu--link-lv1 {
        background-color: #fff;
        color: #000;
      }
      .megamenu__caret {
        transform: rotate(180deg);
        &::before, &::after {
          background-color: #000;
        }
        &::after {
          opacity: 0;
        }
      }
      .megamenu__board {
        visibility: visible;
        animation: menu-effect .2s both;
        z-index: 99;
      }
    }
  }
  &__board {
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: calc(100% - 18px);
    width: 100%;
    padding: 30px 40px 0;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    // background-color: rgba($color: #f5f5f5, $alpha: .85);
    // backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0 2px 4px rgba($color: #000, $alpha: .2);
  }
  &__board_inner {
    display: flex;
  }
  &__left {
    position: relative;
    width: 380px;
    padding-right: 40px;
    margin-bottom: 30px;
    border-right: 1px dashed rgba($color: #000, $alpha: .5);
    box-sizing: border-box;
    &::before, &::after {
      content: '';
      position: absolute;
      right: -4px;
      width: 7px;
      height: 7px;
      background-color: #fff;
      border: 1px solid rgba($color: #000, $alpha: .5);
      border-radius: 100px;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
  &__right {
    flex: 1;
    padding-left: 40px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  &__title {
    margin-bottom: 60px;
  }
  &__name {
    margin-bottom: 5px;
    font-size: 100px;
    line-height: .9;
    text-transform: uppercase;
    letter-spacing: -3px;
  }
  &__desc {
    color: #666;
    font-size: 17px;
    line-height: 1.4;
  }
  /** Links **/
  &__links {
    .megamenu--link-lv2 {
      display: block;
    }
    .rs01paginner {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &--link-lv2 {
    position: static;
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 18px;
    background: rgb(204,0,85);
    background: linear-gradient(0deg, rgba(204,0,85,0.2) 5%, rgba(204,0,85,0.2) 35%, transparent 36%);
    color: #000;
    font-size: 24px;
    line-height: 1.4;
    span {
      cursor: pointer;
    }
    &.rs01cur {
      position: relative;
      color: var(--color-primary);
      font-weight: bold;
      .megamenu__icon_arrow {
        animation: moveRightShort .2s both;
      }
    }
  }
  &__icon_arrow {
    position: absolute;
    left: 100%;
    top: 0;
    display: block;
    transform: translate3d(0,0,0) scale(1.4);
    opacity: 0;
  }
  &--link-lv3 {
    &:hover {
      .megamenu__thumb {
        animation: zoomOut .2s both;
      }
      .megamenu__figcaption {
        animation: moveCenterTop .2s both;
        color: var(--color-primary);
        font-weight: bold;
      }
    }
  }

  /** Slider **/
  &__slider {
    .rs01slide {
      overflow: visible;
    }
    .rs01nav-prev, .rs01nav-next {
      border-radius: 100px;
    }
    .rs01nav-prev {
      left: -55px;
    }
    .rs01nav-next {
      right: -55px;
    }
  }

  /** Items **/
  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    margin-left: -10px;
    margin-right: -10px;
    min-height: 465px;
  }
  &__item {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
  &__thumb {
    margin: 0;
    text-align: center;
    img {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 0;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 1px 2px rgba($color: #000, $alpha: .1);
    }
  }
  &__figcaption {
    display: block;
    margin-top: 5px;
    margin-bottom: 0;
    color: #000;
    text-align: center;
  }

  /** Item Single **/
  &__item_single {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    figure {
      position: relative;
      display: block;
      margin: 0 auto 20px;
      &::before {
        content: '';
        position: absolute;
        bottom: 8px;
        left: 6%;
        height: 100px;
        width: 88%;
        background-color: rgba($color: #000, $alpha: .1);
        border-radius: 12px;
      }
      &:hover {
        &::before {
          background-color: rgba($color: #000, $alpha: .2);
          animation: shadowDownOut .2s both;
        }
      }
    }
    img {
      position: relative;
      border-radius: 12px;
      box-shadow: 0 2px 4px rgba($color: #000, $alpha: .1);      
    }
  }
  &__btn {
    a {
      display: flex;
      justify-content: center;
      min-width: 200px;
      padding: 10px 20px;
      margin-bottom: 20px;
      background-color: rgba($color: #000, $alpha: .1);
      border-radius: 6px;
      color: #000;
      text-align: center;
      transition: background .2s;
      &:hover {
        background-color: rgba($color: #000, $alpha: .85);
        color: #fff;
      }
    }
  }
}





/** KEYFRAMES **/
@keyframes menu-effect {
  0% {
    transform: translate3d(0, 20px,0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
@keyframes rotateUpOut {
  0% {
    transform-origin: 50% 50% -150px;
    transform: perspective(800px) rotateY(0) translateZ(-150px);
    opacity: 1;
  }
  100% {
    transform-origin: 50% 50% -150px;
    transform: perspective(800px) rotateX(180deg) translateZ(0);
    opacity: 0;
  }
}
@keyframes moveCenterTop {
  0% {
    transform: translate3d(0,0,0) scale(1);
  }
  100% {
    transform: translate3d(0,-60px,0) scale(1.2);
  }
}
@keyframes moveRightShort {
  0% {
    transform: translate3d(0,0,0) scale(1.4);
    opacity: 0;
  }
  100% {
    transform: translate3d(15px,0,0) scale(1.4);
    opacity: 1;
  }
}
@keyframes zoomOut {
  0% {
    transform: perspective(800px) translate3d(0,0,0);
    opacity: 1;
  }
  100% {
    transform: perspective(800px) translate3d(0,0,-500px);
    opacity: 0;
  }
}
@keyframes shadowDownOut {
  0% {
    transform: translate3d(0,0,0) scale(1);
  }
  100% {    
    transform: translate3d(0,20px,0) scale(.9);
  }
}
