/**
* RUBYTABS - THE DEFAULT SKIN
*/

/**
* SIZE LARGE - SMALL DEFAULT
*/
.rs01size-l > .rs01tabs.rs01pagdirs-hor .rs01pagitem { padding: 20px 30px; }
.rs01size-l > .rs01tabs.rs01pagdirs-ver .rs01pagitem { padding: 20px 30px 20px 0; }
.rs01size-s > .rs01tabs.rs01pagdirs-hor .rs01pagitem { padding: 8px 15px; }
.rs01size-s > .rs01tabs.rs01pagdirs-ver .rs01pagitem { padding: 8px 15px 8px 0; }






/**
* STYLE FLAT & FLATBOX
----------------------------------------------------------------------------- */
.rs01flatbox > .rs01tabs {
    margin-bottom: 0;
}
.rs01flat > .rs01tabs .rs01pagitem.rs01cur,
.rs01flatbox > .rs01tabs .rs01pagitem.rs01cur {
    color: #fff;
}

/* Flat Horizontal Direction */
.rs01flat > .rs01tabs.rs01pagdirs-hor.rs01pagpos-begin,
.rs01flatbox > .rs01tabs.rs01pagdirs-hor.rs01pagpos-begin {
    border-bottom: 2px solid #cc0055;
}
.rs01flat > .rs01tabs.rs01pagdirs-hor.rs01pagpos-end,
.rs01flatbox > .rs01tabs.rs01pagdirs-hor.rs01pagpos-end {
    border-top: 2px solid #cc0055;
}

.rs01flatbox > .rs01tabs.rs01pagdirs-hor {
    margin-top: 0; margin-bottom: 0;
}
.rs01flatbox.rs01pagdirs-hor > .rs01viewport {
    padding: 20px;
    border: solid #ccc;
    background-color: #fff;
}
.rs01flatbox.rs01pagdirs-hor.rs01pagpos-begin > .rs01viewport {
    border-width: 0 1px 1px 1px;
}
.rs01flatbox.rs01pagdirs-hor.rs01pagpos-end > .rs01viewport {
    border-width: 1px 1px 0 1px;
}

/* Flat Vertical Directdion */
.rs01flat > .rs01tabs.rs01pagdirs-ver .rs01pagitem,
.rs01flatbox > .rs01tabs.rs01pagdirs-ver .rs01pagitem {
    padding: 16px 20px 14px 20px;
    border-bottom: 1px dotted #ccc;
}
.rs01flat > .rs01tabs.rs01pagdirs-ver .rs01pagitem.rs01cur,
.rs01flatbox > .rs01tabs.rs01pagdirs-ver .rs01pagitem.rs01cur {
    margin-top: -1px;
    border-bottom-color: transparent;
}

.rs01flatbox > .rs01tabs.rs01pagdirs-ver {
    margin-left: 0; margin-right: 0;
}
.rs01flatbox.rs01pagdirs-ver > .rs01viewport {
    padding: 25px;
    border: solid #ccc;
}
.rs01flatbox.rs01pagdirs-ver.rs01pagpos-begin > .rs01viewport {
    border-width: 1px 1px 1px 0;
}
.rs01flatbox.rs01pagdirs-ver.rs01pagpos-end > .rs01viewport {
    border-width: 1px 0 1px 1px;
}
.rs01flat > .rs01pagdirs-ver.rs01pagpos-begin {
    border-right: 2px solid #cc0055;
}
.rs01flat > .rs01pagdirs-ver.rs01pagpos-end {
    border-left: 2px solid #cc0055;
}
.rs01flatbox.rs01pagdirs-ver.rs01pagpos-begin > .rs01viewport {
    border-left: 2px solid #cc0055;
}
.rs01flatbox.rs01pagdirs-ver.rs01pagpos-end > .rs01viewport {
    border-right: 2px solid #cc0055;
}

/* Flat Pag-Mark */
.rs01flat > .rs01tabs .rs01pagmark-margin,
.rs01flatbox > .rs01tabs .rs01pagmark-margin {
    display: block;
}

/* Flat Size */
.rs01size-l.rs01flat    > .rs01tabs.rs01pagdirs-ver .rs01pagitem,
.rs01size-l.rs01flatbox > .rs01tabs.rs01pagdirs-ver .rs01pagitem {
    padding: 21px 30px 19px 30px;
}
.rs01size-s.rs01flat    > .rs01tabs.rs01pagdirs-ver .rs01pagitem,
.rs01size-s.rs01flatbox > .rs01tabs.rs01pagdirs-ver .rs01pagitem {
    padding: 9px 15px 7px 15px;
}





/**
* STYLE ROUND
----------------------------------------------------------------------------- */
.rs01round > .rs01tabs .rs01pagitem {
    background-color: rgba(0,0,0,.05);
}
.rs01round > .rs01tabs .rs01pagitem.rs01cur {
    color: #fff;
}

/* Round Horizontal Direction */
.rs01round > .rs01pagdirs-hor .rs01pagitem:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.rs01round > .rs01pagdirs-hor .rs01pagitem:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.rs01round.rs01pagdirs-hor > .rs01tabs .rs01pagitem {
    margin-right: 0;
}

/* Round Vertical Directdion */
.rs01round > .rs01tabs.rs01pagdirs-ver .rs01pagitem:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.rs01round > .rs01tabs.rs01pagdirs-ver .rs01pagitem:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Round Pag-Mark */
.rs01round > .rs01tabs .rs01pagmark-margin {
    display: block;
    border-radius: 4px;
}
.rs01round > .rs01tabs .rs01pagitem.rs01cur {
    background-color: transparent;
}

/* Round Vertical Outside */
.rs01round.rs01pagdirs-ver.rs01outside.rs01pagpos-begin > .rs01viewport {
    padding-left: 0;
}
.rs01round.rs01pagdirs-ver.rs01outside.rs01pagpos-end > .rs01viewport {
    padding-right: 0;
}

/* Round Size */
.rs01size-l.rs01round > .rs01tabs.rs01pagdirs-ver .rs01pagitem {
    padding: 20px 30px;
}
.rs01size-s.rs01round > .rs01tabs.rs01pagdirs-ver .rs01pagitem {
    padding: 8px 15px;
}





/**
* STYLE OUTLINE
----------------------------------------------------------------------------- */
.rs01outline > .rs01tabs .rs01pagitem {
    border: solid #ccc;
    border-color: rgba(0,0,0,0.2);
}
.rs01outline > .rs01tabs .rs01pagitem.rs01cur {
    border-color: transparent;
}

/* Outline Horizontal Direction */
.rs01outline > .rs01tabs.rs01pagdirs-hor .rs01pagitem {
    margin-left: 5px; margin-right: 5px;
}
.rs01outline > .rs01tabs.rs01pagdirs-hor.rs01pagpos-begin .rs01pagitem {
    border-width: 1px 1px 0 1px;
    border-radius: 3px 3px 0 0;
}
.rs01outline > .rs01tabs.rs01pagdirs-hor.rs01pagpos-end .rs01pagitem {
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 3px 3px;
}

/* Outline Vertical Direction */
.rs01outline > .rs01tabs.rs01pagdirs-ver .rs01pagitem {
    margin-top: 3px; margin-bottom: 3px;
}
.rs01outline > .rs01tabs.rs01pagdirs-ver.rs01pagpos-begin .rs01pagitem {
    border-width: 1px 0 1px 1px;
    border-radius: 3px 0 0 3px;
}
.rs01outline > .rs01tabs.rs01pagdirs-ver.rs01pagpos-end .rs01pagitem {
    border-width: 1px 1px 1px 0;
    border-radius: 0 3px 3px 0;
}

/* Outline Pag-Mark */
.rs01outline > .rs01tabs .rs01pagmark-border {
    display: block;
}
.rs01outline > .rs01tabs .rs01pagmark-item {
    background-color: transparent;
    border: solid  #cc0055;
    box-sizing: border-box;
}
.rs01outline > .rs01tabs .rs01pagmark-item:before,
.rs01outline > .rs01tabs .rs01pagmark-item:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #cc0055;
}
.rs01outline > .rs01tabs.rs01pagdirs-hor.rs01pagpos-begin .rs01pagmark-item {
    border-width: 8px 1px 0 1px;
    border-radius: 3px 3px 0 0;
}
.rs01outline > .rs01tabs.rs01pagdirs-hor.rs01pagpos-end .rs01pagmark-item {
    border-width: 0 1px 8px 1px;
    border-radius: 0 0 3px 3px;
}
.rs01outline > .rs01tabs.rs01pagdirs-hor .rs01pagmark-item:before,
.rs01outline > .rs01tabs.rs01pagdirs-hor .rs01pagmark-item:after                    { width: 20000px; height: 1px; }
.rs01outline > .rs01tabs.rs01pagdirs-hor.rs01pagpos-begin .rs01pagmark-item:before  { bottom: 0; right: 100%; }
.rs01outline > .rs01tabs.rs01pagdirs-hor.rs01pagpos-begin .rs01pagmark-item:after   { bottom: 0; left: 100%; }
.rs01outline > .rs01tabs.rs01pagdirs-hor.rs01pagpos-end   .rs01pagmark-item:before  { top: 0; right: 100%; }
.rs01outline > .rs01tabs.rs01pagdirs-hor.rs01pagpos-end   .rs01pagmark-item:after   { top: 0; left: 100%; }

.rs01outline > .rs01tabs.rs01pagdirs-ver.rs01pagpos-begin .rs01pagmark-item {
    border-width: 1px 0 1px 8px;
    border-radius: 3px 0 0 3px;
}
.rs01outline > .rs01tabs.rs01pagdirs-ver.rs01pagpos-end .rs01pagmark-item {
    border-width: 1px 8px 1px 0;
    border-radius: 0 3px 3px 0;
}
.rs01outline > .rs01tabs.rs01pagdirs-ver .rs01pagmark-item:before,
.rs01outline > .rs01tabs.rs01pagdirs-ver .rs01pagmark-item:after                    { width: 1px; height: 20000px; }
.rs01outline > .rs01tabs.rs01pagdirs-ver.rs01pagpos-begin .rs01pagmark-item:before  { right: 0; bottom: 100%; }
.rs01outline > .rs01tabs.rs01pagdirs-ver.rs01pagpos-begin .rs01pagmark-item:after   { right: 0; top: 100%; }
.rs01outline > .rs01tabs.rs01pagdirs-ver.rs01pagpos-end   .rs01pagmark-item:before  { left: 0; bottom: 100%; }
.rs01outline > .rs01tabs.rs01pagdirs-ver.rs01pagpos-end   .rs01pagmark-item:after   { left: 0; top: 100%; }

/* Outline Vertical Outside */
.rs01outline.rs01pagdirs-ver.rs01outside.rs01pagpos-begin > .rs01viewport           { padding-left: 0; }
.rs01outline.rs01pagdirs-ver.rs01outside.rs01pagpos-end   > .rs01viewport           { padding-right: 0; }

/* Outline Size */
.rs01size-l.rs01outline > .rs01tabs.rs01pagdirs-ver .rs01pagitem {
    padding: 20px 25px;
}
.rs01size-s.rs01outline > .rs01tabs.rs01pagdirs-hor .rs01pagitem {
    padding: 12px;
}
.rs01size-s.rs01outline > .rs01tabs.rs01pagdirs-ver .rs01pagitem {
    padding: 8px 18px;
}






/**
* STYLE UNDERLINE
----------------------------------------------------------------------------- */
.rs01underline > .rs01tabs .rs01pagitem {
    padding: 18px 0;
}
.rs01underline > .rs01tabs .rs01pagitem.rs01cur {
    color: #cc0055;
}

/* Underline Horizontal Directdion */
.rs01underline > .rs01tabs.rs01pagdirs-hor.rs01pagpos-begin {
    border-bottom: 1px solid #ccc;
    border-bottom-color: rgba(0,0,0,.5);
}
.rs01underline > .rs01tabs.rs01pagdirs-hor.rs01pagpos-begin .rs01paginner {
    top: 1px;
}

.rs01underline > .rs01tabs.rs01pagdirs-hor.rs01pagpos-end {
    border-top: 1px solid #ccc;
    border-top-color: rgba(0,0,0,.5);
}
.rs01underline > .rs01tabs.rs01pagdirs-hor.rs01pagpos-end .rs01paginner {
    bottom: 1px;
}

.rs01underline > .rs01tabs.rs01pagdirs-hor .rs01pagitem {
    margin: 0 15px;
}

/* Underline Vertical Direction */
.rs01underline > .rs01tabs.rs01pagdirs-ver .rs01pagitem {
    padding-top: 8px; padding-bottom: 8px;
    margin-top: 10px; margin-bottom: 10px;
}
.rs01underline > .rs01tabs.rs01pagdirs-ver.rs01pagpos-begin {
    padding-right: 20px;
    border-right: 1px solid #ccc;
    border-right-color: rgba(0,0,0,.5);
}
.rs01underline > .rs01tabs.rs01pagdirs-ver.rs01pagpos-end {
    padding-left: 20px;
    border-left: 1px solid #ccc;
    border-left-color: rgba(0,0,0,.5);
}

/* Underline Pag-Mark */
.rs01underline > .rs01tabs.rs01pagdirs-hor .rs01pagmark-self {
    display: block;
}
.rs01underline > .rs01tabs.rs01pagdirs-ver .rs01pagmark-padding {
    display: block;
}
.rs01underline > .rs01tabs.rs01pagdirs-hor .rs01pagmark-item {
    height: 4px;
}
.rs01underline > .rs01tabs.rs01pagdirs-ver .rs01pagmark-item {
    width: 6px;
}

/* Underline Size */
.rs01size-l.rs01underline > .rs01tabs.rs01pagdirs-hor .rs01pagitem {
    padding: 22px 0;
}
.rs01size-l.rs01underline > .rs01tabs.rs01pagdirs-ver .rs01pagitem {
    padding-top: 10px; padding-bottom: 10px;
    margin-top: 12px; margin-bottom: 12px;
}
.rs01size-s.rs01underline > .rs01tabs.rs01pagdirs-hor .rs01pagitem {
    padding: 10px 0;
}
.rs01size-s.rs01underline > .rs01tabs.rs01pagdirs-ver .rs01pagitem {
    padding-top: 4px; padding-bottom: 4px;
    margin-top: 6px; margin-bottom: 6px;
}































/**
* SKIN 1
----------------------------------------------------------------------------- */
.rs01skin-1 > .rs01tabs .rs01pagitem {
    color: #333;
}
.rs01skin-1 > .rs01tabs .rs01pagitem.rs01cur {
    background-color: #cc0055;
    color: #fff;
    border-radius: 4px;
}

/* Skin-1 Horizontal Direction */
.rs01skin-1.rs01pagdirs-hor > .rs01tabs .rs01pagitem {
    margin-right: 0;
}

/* Skin-1 Pag-Mark */
.rs01skin-1 > .rs01pagmark-yes .rs01pagmark-margin {
    display: block;
}
.rs01skin-1 > .rs01pagmark-yes .rs01pagitem.rs01cur {
    background-color: transparent;
}
.rs01skin-1 > .rs01tabs .rs01pagmark-item {
    border-radius: 4px;
}

/* Skin-1 Vertical Outside */
.rs01skin-1.rs01pagdirs-ver.rs01outside.rs01pagpos-begin > .rs01viewport {
    padding-left: 0;
}
.rs01skin-1.rs01pagdirs-ver.rs01outside.rs01pagpos-end > .rs01viewport {
    padding-right: 0;
}





/**
* SKIN 2
----------------------------------------------------------------------------- */
.rs01skin-2 > .rs01viewport {
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
}
.rs01skin-2 > .rs01tabs.rs01pagdirs-hor {
    padding-top: 5px;
    margin-bottom: 0;
    background-color: #cc0055;
    border-radius: 3px 3px 0 0;
}
.rs01skin-2 > .rs01tabs .rs01pagitem {
    padding: 8px 15px;
    margin-left: 3px; margin-right: 3px;
    background-color: rgba(255,255,255,.5);
    color: #333;
    font-size: 0.85em;
    border-radius: 3px 3px 0 0;
}
.rs01skin-2 > .rs01tabs .rs01pagitem.rs01first {
    margin-left: 10px;
}
.rs01skin-2 > .rs01tabs .rs01pagitem.rs01last {
    margin-right: 10px;
}
.rs01skin-2 > .rs01tabs .rs01pagitem.rs01cur {
    background-color: transparent;
}

.rs01skin-2 > .rs01tabs .rs01pagmark-padding {
    display: block;
}
.rs01skin-2 > .rs01tabs .rs01pagmark-item {
    height: calc(100% - 5px);
    background-color: #fff;
    border-radius: 3px 3px 0 0;
}





/**
* SKIN 3
----------------------------------------------------------------------------- */
.rs01skin-3 > .rs01viewport {
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
}
.rs01skin-3 > .rs01tabs.rs01pagdirs-hor {
    padding-top: 5px;
    margin-bottom: 0;
    background-color: #cc0055;
    border-radius: 3px 3px 0 0;
}
.rs01skin-3 > .rs01tabs .rs01pagitem {
    padding: 8px 15px;
    margin-left: 7px; margin-right: 7px;
    background-color: #ccc;
    border-radius: 4px 4px 0 0;
    color: #333;
    font-size: 0.85em;
}
.rs01skin-3 > .rs01tabs .rs01pagitem.rs01first {
    margin-left: 25px;
}
.rs01skin-3 > .rs01tabs .rs01pagitem.rs01last {
    margin-right: 25px;
}
.rs01skin-3 > .rs01tabs .rs01pagitem.rs01cur {
    background-color: #fff;
    z-index: 2;
}

.rs01skin-3 > .rs01tabs .rs01pagitem:before,
.rs01skin-3 > .rs01tabs .rs01pagitem:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 0; height: 0;
    border: solid transparent;
}
.rs01skin-3 > .rs01tabs .rs01pagitem:before {
    right: 100%;
    margin-right: -1px;
    border-width: 0 0 50px 20px;
    border-bottom-color: #ccc;
}
.rs01skin-3 > .rs01tabs .rs01pagitem:after {
    left: 100%;
    margin-left: -1px;
    border-width: 50px 0 0 20px;
    border-left-color: #ccc;
}
.rs01skin-3 > .rs01tabs .rs01pagitem.rs01cur:before {
    border-bottom-color: #fff;
}
.rs01skin-3 > .rs01tabs .rs01pagitem.rs01cur:after {
    border-left-color: #fff;
}





/**
* SKIN 4
----------------------------------------------------------------------------- */
.rs01skin-4 > .rs01tabs .rs01pagitem {
    padding-left: 10px; padding-right: 10px;
    margin-left: 10px; margin-right: 10px;
    color: #111;
}
.rs01skin-4 > .rs01tabs .rs01pagmark-padding {
    display: block;
    height: 4px;
    background-color: #111;
}





/**
* SKIN 5
----------------------------------------------------------------------------- */
/*.rs01skin-5 > .rs01tabs:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    border-top: 4px solid #333;
}*/
.rs01skin-5 > .rs01tabs.rs01pagdirs-hor {
    overflow: visible;
    margin-bottom: 50px;
    border-bottom: 4px solid #333;
}
.rs01skin-5 > .rs01tabs .rs01pagitem {
    padding-top: 12px; padding-bottom: 12px;
    margin: 0 20px 30px 20px;
    border: 1px solid #aaa;
    border-radius: 50px;
}
.rs01skin-5 > .rs01tabs .rs01pagmark-border {
    display: block;
}
.rs01skin-5 > .rs01tabs .rs01pagmark-item {
    top: 0;
    height: calc(100% - 30px);
    border-radius: 50px;
}

.rs01skin-5 > .rs01tabs .rs01pagitem:after,
.rs01skin-5 > .rs01tabs .rs01pagmark-item:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%; top: 100%;
    width: 20px; height: 20px;
    margin-left: -12px; margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 20px;
}
.rs01skin-5 > .rs01tabs .rs01pagitem.rs01cur {
    color: #fff;
    border-color: transparent;
}
.rs01skin-5 > .rs01tabs .rs01pagitem:after {
    background-color: #333;
}
.rs01skin-5 > .rs01tabs .rs01pagitem.rs01cur:after {
    background-color: transparent;
}
.rs01skin-5 > .rs01tabs .rs01pagmark-item:after {
    background-color: #cc0055;
}

.rs01skin-5 > .rs01tabs .rs01pagmark-item:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%; top: 100%;
    width: 0; height: 0;
    margin-left: -6px; margin-top: 45px;
    border: solid transparent;
    border-width: 7px 6px 0 6px;
    border-top-color: #cc0055;
}
