/** VARIABLES **/
:root {
  --color-primary: #c05;
  --color-primary-dark: #66002a;
  --color-alter: #0096ff;
  --color-alter-dark: #004A7e;
  // Color link a
  --bs-link-color: #c05;
  --bs-link-hover-color: #000;


  // Fonts
  --font-primary: 'Open Sans', sans-serif;
  --font-alter: 'Raleway', sans-serif;
  --font-code: 'Source Code Pro', monospace;
}