/** VARIABLES **/
:root {
  --color-primary: #c05;
  --color-alter: #0096ff;

  // Fonts
  --font-primary: 'Open Sans', sans-serif;
  --font-alter: 'Raleway', sans-serif;
  --font-code: 'Source Code Pro', monospace;
}