/** VARIABLES **/
$color-primary: #c05;
$color-primary-dark: #66002a;
$color-alter: #0096ff;
$color-alter-dark: #004A7e;

:root {
  --color-primary: #{$color-primary};
  --color-primary-dark: #{$color-primary-dark};
  --color-alter: #{$color-alter};
  --color-alter-dark: #{$color-alter-dark};
  // Color link a
  --bs-link-color: #{ $color-primary };
  --bs-link-hover-color: #000;


  // Fonts
  --font-primary: 'Open Sans', sans-serif;
  --font-alter: 'Raleway', sans-serif;
  --font-code: 'Source Code Pro', monospace;
}

/** Mixins **/
// @mixin sizeRem($size) {
//   font-size: ($size / 16) * 1rem;
// }
